dvc>=2.7.0,<3.0.0
GitPython>=3.1.18,!=3.1.25 # https://github.com/openvinotoolkit/datumaro/issues/612
openvino-telemetry>=2022.1.0
openvino-dev>=2023.2.0

# Restrict versions of the DVC dependencies, https://github.com/treeverse/dvc/pull/10948
pathspec<1
dulwich<1
